*{
    display: flex;
    flex-direction: column;
    margin-top: 25px; 
   
   
}
#externa {

    width: 600px;
    height: 400px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;  
   

}

li{

    width: 300px;
    background-color:  cornsilk;
    margin: 1px;
    
}
ul{
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
